{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
<h1>{{ args.title }}</h1>

<form name="input" action="/paperfirstlastsoloauthorbypublicationtype" method="get" data-ajax="false" onSubmit="validateForm(this)">
Author name: <input type="text" name="author_search">

<input type="submit" value="Submit">
</form>

<h2>Name :{{ args.name }}</h2>
<br/>
<div id="container" style="width:100%; height: 400px; margin: 0 auto;overflow:scroll"></div>

<button onclick="showChart({{args.startCol}},'toggle')" style="align:right">Show / Hide Graph</button>
<table class="sortable" id="datatable">
  <thead onclick="showChart({{args.startCol}},'refresh')">
    <tr>
    {% for column in args.data[0] %}
      <th>{{ column }}</th>
    {% endfor %}
    </tr>
  </thead>

  <tbody>
  {% for row in args.data[1] %}
    <tr>
    {% for data_item in row %}
      <td>{{ data_item }}</td>
    {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}


